page-code-pay {
  .pull-right{
    float: right;
    color: #222222;
    border: #222222 thin solid;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .pull-right:hover{
    float: right;
    color: #222222;
    border: #222222 thin solid;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #333333;
  }
}
