<ion-header>

  <ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)"
                   (ionCancel)="onCancel($event)" placeholder="Search merchant" autocomplete="true"></ion-searchbar>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <!--<button ion-item *ngFor="let merchant of merchants" >-->
    <button ion-item *ngFor="let merchant of merchants" (click)="openSpeakerDetail(merchant)">
      <!--<ion-avatar item-left>-->
        <!--<img src="{{speaker.picture}}"/>-->
      <!--</ion-avatar>-->
      <h2>{{merchant.merchant_name}}</h2>
      <p>{{merchant.merchant_code}}</p>
    </button>
  </ion-list>

</ion-content>
